<body>
  <div id="bgimage">
    <form [formGroup]="profileForm" (ngSubmit)="signUp()">
      <div class="login-page">
        <div class="form">
          <div class="login-form">
            <label style="color:red">{{errorMessage}}</label>
            <input type="text" placeholder="handle" formControlName="handle" />
            <input *ngIf="!(registered | async) as boolean"
              type="text"
              placeholder="Avatar Link"
              formControlName="avatar"
            />
            <button *ngIf="!(registered | async) as boolean">
              register
            </button>
            <button *ngIf="(registered | async) as boolean">
              login
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>