<app-header></app-header>

<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/profile"
      routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span>My Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        <i class="fas fa-fw fa-table"></i>
        <span>Logout</span></a
      >
    </li>
  </ul>

  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Timeline</li>
      </ol>

      <!-- Posts-->
      <app-userlist></app-userlist>
      <br />

      <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</div>
