<ol *ngFor="let post of timeLinePosts">
  <div class="col-md-9" style="margin: auto;">
    <div class="panel panel-default">
      <div class="panel-body">
        <section class="post-footer-comment-wrapper">
          <div class="userleft">
            <a routerLink="/user/{{ user.hash }}" routerLinkActive="active">
              <img
                class="photo-profile"
                src="{{ post.creator.avatarURL }}"
                width="40"
                height="40"
                alt="..."
              />
            </a>
          </div>

          <div class="userright">
            <a
              routerLink="/user/{{ post.creator.hash }}"
              routerLinkActive="active"
              class="anchor-username"
            >
              <h4>{{ post.creator.handle }}</h4>
            </a>
          </div>

          <button
            (click)="upVote(post)"
            class="btn"
            style="float: right;font-size: 30px;margin-bottom: -28px;"
          >
            <i class="fas fa-chevron-up"></i>
          </button>
          <br /><br />

          <button
            (click)="downVote(post)"
            class="btn"
            style="float: right;font-size: 30px;"
          >
            <i class="fas fa-chevron-down"></i>
          </button>
          <label
            class="label label-default"
            style="float: right;font-size: 25px;"
            >{{ post.value }}</label
          >

          <a
            style="text-decoration: none"
            routerLink="/post/{{ post.hash }}"
            routerLinkActive="active"
          >
            <div>
              <div class="underPic">
                <span class="anchor-time">{{ post.dateTimeString }}</span>
              </div>
              <div style="padding-right: 10px;">
                <h4>{{ post.content }}</h4>
              </div>
            </div>
          </a>

          <br />
        </section>
      </div>
    </div>
  </div>
</ol>

<!--<a routerLink="posts" [class.activated]="currentUrl == '/posts'"
    >Go to posts</a
  >-->
